*{
    padding:0;
    margin:0;
}
body{

    background: url(https://images.pling.com/img/00/00/62/67/35/1584405/577c4dc30402a8dfa3915867a59e64a89b7b3498e9f327bcfb0bcc7dfcbf99908e32.jpg) no-repeat center center fixed; 
    background-size: cover;
}
h1{
    position: absolute;

    top: 45vh;

    left: 1vw; 
    font-size: 3rem;

    font-weight: bolder; 
    background: Linear-gradient(to bottom right,rgb(13, 211, 242), rgb(255, 100, 192) );
    background-clip:text;
    -webkit-background-clip: text;
    color: transparent;
}
h2{
    position: absolute;

    top: 52vh;

    font-size: 1rem;

    left: 1vw; 
    font-weight: bolder; 
    background: Linear-gradient(to bottom right,rgb(13, 211, 242), rgb(255, 180, 192));
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
}
#game{
    width: 400px;

    height: 500px; 
    border: 1px solid black;

    border-color: rgb(0, 0, 0);

    border-radius: 10px; 

    position: absolute; 
    top: 20vh;
    left: 35vw; 
    overflow: hidden;
    background-color: rgba(254, 254, 254, 0.07);
}


#character{
    width: 20px;
    background-color: rgb(229, 121, 193);
    border: 2px solid black;
    height: 20px; position: relative; 
    border-radius: 50%;
    top: 400px;
    left: 190px;
    z-index: 1000000;
}
.block{

    width: 400px;
    background-color: black;
    position: relative;
    height: 20px; 
    top: 100px; 
    background-clip: border-box;
    -webkit-background-clip: border-box;
    margin-top: -20px;
    background: Linear-gradient(to bottom right,rgb(13, 211, 242),rgb(255, 188, 192));
    color: transparent;
}
.hole{

    width: 40px;

    height: 20px;

    background-color:rgba(0, 0, 0, 0.8);

    position: relative;

    top: 100px;

    margin-top: -20px;
}